# OS generated directories/files
.DS_Store

# Developer tools' files
.lite_workspace.lua
.husky/_/

# Neutralinojs binaries and builds
/bin
/dist
.tmp/

# 3rd party libs
neutralino.js

# Neutralinojs related files
node_modules/
.storage
*.log
