# OS generated directories/files
.DS_Store

# Developer tools' files
.lite_workspace.lua
.husky

# Neutralinojs binaries and builds
/bin
/dist
.tmp/

# 3rd party libs
vendor/

# Neutralinojs related files
node_modules/
.storage
*.log
