[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #eb378a;
    --primary-hover: #ffb9d9;
    --primary-focus: #ffb9d9;
    --primary-inverse: #fff;
}
html {
    background: #f6edee;
}

input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 0;
}

div.user {
    grid-template-columns: 1fr minmax(auto, 95%);
    align-items: center;
    margin-bottom: var(--spacing);
}

.current input[type="text"] {
    background: linear-gradient(135deg, #bafdf7, #fcf4ac, #fbb7f3);
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

#timerDisplay {
    padding: 15px;
    border: solid 1px #f2bfd7;
    border-radius: 5px;
    text-align: center;
    font-size: 4rem;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 0%,
        #ffe4f1 100%
    );
}

#mobUsers,
.user:last-of-type {
    margin-bottom: 0;
}
