[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #eb378a;
    --primary-hover: #ffb9d9;
    --primary-focus: #ffb9d9;
    --primary-inverse: #fff;
}
html {
    background: #f6edee;
}

body > main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
}

input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 0;
}

#startButton {
    margin-bottom: auto;
}
