---
name: "release"

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: "windows-latest"

        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
            - run: npm ci
            - run: npm run update
            - run: npm test
            - run: npm run release

            - uses: softprops/action-gh-release@v2
              with:
                  token: "${{ secrets.GITHUB_TOKEN }}"
                  prerelease: false
                  files: |
                      **/mobtimer-release.zip
